@import url("https://use.typekit.net/lgl1ezq.css");

body {
    background-color: #FFDE8A;
    color: #100F0F;
}

/* Fonts */

h1, h2, h3, h4, h5 {
    font-family: "gesta", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.bold-headings {
    font-family: "gesta", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p, li {
    font-family: "owners-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Nav Bar */

ul.navbar-nav.nav-list.ml-auto {
    padding-left: 30px;
}

.navbar-nav {
    display: flex;
    justify-content: left;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.nav-item {
    list-style-type: none;
    padding: 10px;
}

.nav-item a {
    text-decoration: none;
    color: #100F0F;
}

/* Headings */


/* Text */

.heading, .contact-email, .page-description {
    padding-left: 40px;
    padding-right: 20%;
}

/* Images */

.page-image-blocks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    padding-left: 40px;
}

.page-image {
    background-color: grey;
    border-radius: 20%;
    padding: 0; 
    margin-right: 7%;
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.page-image img {
    width: 100%; 
    height: 300px;
    object-fit: cover; 
    border-radius: inherit; 
}


/* Links */


/* Services */


/* About */


/* Contact */

/* Stacking layout for mobile */
@media (max-width: 768px) { 
    .page-image-blocks {
        flex-direction: column; 
        align-items: center; 
        padding: 10px; 
    }

    .page-image {
        margin-bottom: 20px; 
        margin-right: 0; 
    }
}